<footer>
    <ul class="util">
        <li><a href="https://www.lg.com/uk/privacy" target="_blank">PRIVACY</a></li>
        <li><a href="https://www.lg.com/uk/legal" target="_blank">LEGAL</a></li>
    </ul>
    <ul class="social">
        <li class="facebook"><a href="https://www.facebook.com/LGUK" target="_blank">facebook</a></li>
        <li class="twitter"><a href="https://twitter.com/LGUK" target="_blank">twitter</a></li>
        <li class="youtube"><a href="https://www.youtube.com/user/LGBlogUK" target="_blank">youtube</a></li>
    </ul>
    <p>© 2020 LG Electronics.</p>
</footer>